<div *ngIf="stakeData; else loadingBlk">
  <div class="mt-4 mb-5 mb-md-3">
    <h2>Eth gas prices in Gwei</h2>
    <div class="table-container mt-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>Safe price</th>
            <td class="safe">{{ gas.SafeGasPrice }}</td>
          </tr>
          <tr>
            <th>Propose price</th>
            <td class="propose">{{ gas.ProposeGasPrice }}</td>
          </tr>
          <tr>
            <th>Fast price</th>
            <td class="fast">{{ gas.FastGasPrice }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="lastRefresh" class="mt-3">
      <small>Time data was fetched: <b>{{ stakeData.lastRefresh | date:'short' }}</b></small>
    </div>
  </div>
</div>

<ng-template #loadingBlk>
  <div class="d-flex justify-content-center align-items-center pt-5">
    <div class="spinner-grow text-danger mr-2" role="status"></div>
    <div class="spinner-grow text-warning mr-2" role="status"></div>
    <div class="spinner-grow text-info" role="status"></div>
  </div>
  <div class="text-center pt-2">Loading...</div>

  <div *ngIf="error" class="alert alert-danger text-center my-4 py-4">
    <h4>Error</h4>
    <span>There seems to be an error with the server. Please wait or try refreshing the page.</span>
  </div>
</ng-template>
