<div class="alert alert-warning text-left my-4">
    This is a simple <a href="https://aave.com/">AAVE</a> staking rewards tracker and calculator.
    Data is being fetched from <a href="https://etherscan.io/">EtherScan</a> API automatically every 6 seconds while the
    app is being open.
    <br><br>
    Usage:
    <ul>
        <li>Default total daily reward is set to 400. It can be changed by entering a different ammount in the input
            box. A different ammount can also be initialized by typing the number preceded by '/' after the app URL. For
            example <b>https://istefanjak.github.io/aave-calculator/600</b> will init the app with 600 daily reward.
        </li>
        <li>Total AAVE staked shows current AAVE staked pool in real time</li>
        <li>If you don't have tokens staked yet, enter that ammount in the <b>first input box</b> </li>
        <li>If you have tokens currently staked in the pool enter that ammount in the <b>second input box</b></li>
    </ul>
    <br>
    If you received <span class="red-font"><b>"Too many requests"</b></span> error:
    <ul>
        <li>The app is being accessed from multiple devices/ browsers/ tabs on <b>same IP address</b>. This wont work.
        </li>
        <li>You just manually refreshed/ revisited the page while 6 seconds haven't passed yet. Just wait for the next
            refresh in 6 seconds and it should work.</li>
    </ul>
    <b class="red-font">I am not responsible for any errors or miscalculations in this app. Use it at your own risk!</b>
</div>