<div class="alert alert-warning text-left my-4">
  This is a simple <a href="https://aave.com/">AAVE</a> staking rewards tracker and calculator. All data is being
  fetched from Etherscan servers.
  To see how old is the fetched data, check the <b>'Time data was fetched'</b> label in the calculator.
  <br><br>
  Usage:
  <ul>
    <li>Default daily emission is being fetched from the server. To use a different emission for calculation purposes,
      check the <b>'Use custom emission'</b> checkbox. Enter desired value and confirm.
    </li>
    <li>Total AAVE staked shows current AAVE staked pool in real time</li>
    <li>If you don't have tokens staked yet, enter that amount in the <b>first input box</b> </li>
    <li>If you have tokens currently staked in the pool enter that amount in the <b>second input box</b></li>
  </ul>
  <b class="red-font">I am not responsible for any errors or miscalculations in this app. Use it at your own risk!</b>
</div>
