<div class="container py-4">
  <h1 class="px-2">AAVE <span>CALCULATOR</span>
    <div class="clearfix"></div>
  </h1>
</div>

<div class="lightgrey">
  <nav class="container navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item" [class]="getActiveClass('/')">
          <a class="nav-link" routerLink="/">Rewards</a>
        </li>

        <li class="nav-item" [class]="getActiveClass('/gas')">
          <a class="nav-link" routerLink="/gas">Gas cost</a>
        </li>

        <li class="nav-item" [class]="getActiveClass('/charts')">
          <a class="nav-link" routerLink="/charts">Charts</a>
        </li>

        <li class="nav-item" [class]="getActiveClass('/about')">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

      </ul>
    </div>
  </nav>
</div>
