h1 {
  font-size: 2em;
  font-weight: bold;
  color:  rgb(255, 193, 7);
}

@media (min-width: 576px) {
  h1 {
      word-spacing: 0.5em;
  }
}

h1 > span {
  color: #e5e5e5;
  font-size: 0.66em;
}

nav {
  .navbar-toggler {
    &:focus {
      outline: none;
    }
  }
  ul {
    font-weight: bold;
    .nav-item {
      text-align: right;
      margin-right: 1rem;
      @media (max-width: 991px) {
        margin-right: 0;
        &:first-of-type {
          margin-top: 1rem;
        }
      }
    }
  }
}
