h2 {
    font-size: 2em;
}

.num-info {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.33em;
    font-weight: bold;
}

.mono {
    font-family: 'Courier Prime', monospace;
}

.bold {
    font-weight: bold;
}

.card {
    font-size: 1em;
}

.calc-input {
    max-width: 420px;
}

#dailyReward label {
    line-height: 2em;
}

#dailyReward input {
    max-width: 60px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(206, 212, 218);
    text-align: center;
    line-height: 0%;
}

