h2 {
    font-size: 2em;
}

.mono {
    font-family: 'Courier Prime', monospace;
}

.bold {
    font-weight: bold;
}

.card {
    font-size: 1em;
}

.calc-input {
    max-width: 420px;
}

.info-card {
    display: block;
    border-radius: .3rem;
    box-shadow: 0 .33rem 1.7rem rgba(0, 0, 0, .08);
    text-align: center;
}

.info-card > .top {
    padding: 1.5rem;
    border-top-left-radius: .3rem;;
    border-top-right-radius: .3rem;
}

.bg-red {
    background-color: #e07768;
    color: #f8f9fa;
}

.bg-green {
    background-color:#4aada9;
    color: #f8f9fa;
}

.info-card > .top > h2 {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.info-card > .bottom {
    padding: 1rem;
    font-size: 1.4em;
    font-weight: normal;
}

#customEmissionForm input {
  max-width: 16rem;
  display: inline-block;
}

#customEmissionForm button {
  max-width: 16rem;
  margin-left: .5rem;
}
