/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.red-font {
    color: #ba1d21;
}