/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bold {
  font-weight: bold;
}

.red-font {
    color: #ba1d21;
}

.grey {
  background-color: #272727;
}

.lightgrey {
  background-color: #e9e9e9;
}

.bg-red {
  background-color: #e07768;
  color: #f8f9fa;
}

.bg-green {
  background-color:#4aada9;
  color: #f8f9fa;
}

.mono {
  font-family: 'Courier Prime', monospace;
}


// CHARTS
#chart-parent {
  display: grid;
  height: 25rem;
  #chart {
    .gridline-path-vertical {
      display: none;
    }
    g.line-chart > g:last-of-type g.line-series > path {
      stroke-width: 2px;
      stroke-linecap: round;
    }
    .ngx-charts {
        font-family: 'Courier Prime', monospace !important;
    }
  }
}
